
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('images/kiki.jpg'); /* Ganti dengan path gambar latar belakang Anda */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #fff; /* Warna latar belakang judul */
}

button {
    background-color: #34db34;
    color: #fff;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#dynamic-content {
    margin: 20px;
}

/* Menambahkan gaya untuk setiap menu */
#Pendaftaran {
    background-image: url('images/aku.jpeg'); /* Ganti dengan path gambar latar belakang Pendaftaran */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    color: #fff;
}


.container {
width: 100%;
display: flex;
max-width: 850px;
background: #fff;
border-radius: 15px;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
overflow: hidden; /* Mengatasi shadow di luar border-radius */
}

.login {
width: 400px;
align-items: center;
padding: 20px;
}

form {
width: 100%;
max-width: 300px;
margin: 0 auto;
display: flex;
flex-direction: column;
}

h1 {
margin: 20px 0;
text-align: center;
font-weight: bolder;
text-transform: uppercase;
color: #333;
}

hr {
border-top: 2px solid #ffa12c;
}

p {
text-align: center;
margin: 10px;
color: #333;
}

form label {
display: block;
font-size: 16px;
font-weight: 600;
padding: 5px;
margin-bottom: 5px;
color: #333;
}

input {
width: 100%;
margin: 5px 0;
border: none;
outline: none;
padding: 8px;
border-radius: 5px;
border: 1px solid #ddd;
box-sizing: border-box;
}

button {
border: none;
outline: none;
padding: 10px;
color: #fff;
font-size: 16px;
cursor: pointer;
margin-top: 20px;
border-radius: 5px;
background: #ffa12c;
transition: background 0.3s ease;
}

button:hover {
background: rgba(214, 86, 64, 1);
}

@media (max-width: 880px) {
.container {
    width: 100%;
    max-width: 750px;
    margin-left: 20px;
    margin-right: 20px;
}

.login {
    width: 100%;
    padding: 20px;
}

button {
    width: 100%;
}
}
